<div class="ablock"><div class="prompt">Select one:</div><div class="answer"><div class="r0"><input type="radio" name="q97023:19_answer" value="0" id="q97023:19_answer0"><label for="q97023:19_answer0" class="ml-1"><span class="answernumber">a. </span>Isu sensitif</label> </div>
<div class="r1"><input type="radio" name="q97023:19_answer" value="1" id="q97023:19_answer1"><label for="q97023:19_answer1" class="ml-1"><span class="answernumber">b. </span>Fitnah</label> </div>
<div class="r0"><input type="radio" name="q97023:19_answer" value="2" id="q97023:19_answer2" checked="checked"><label for="q97023:19_answer2" class="ml-1"><span class="answernumber">c. </span><span style="font-size:12pt"><span style="color:#202124">Ujaran kebencian (hate speech )<br></span></span></label> </div>
<div class="r1"><input type="radio" name="q97023:19_answer" value="3" id="q97023:19_answer3"><label for="q97023:19_answer3" class="ml-1"><span class="answernumber">d. </span>Pembohongan Publik</label> </div>
<div class="r0"><input type="radio" name="q97023:19_answer" value="4" id="q97023:19_answer4"><label for="q97023:19_answer4" class="ml-1"><span class="answernumber">e. </span>Hoax</label> </div>
</div><div id="q97023:19_clearchoice" class="qtype_multichoice_clearchoice"><input type="radio" name="q97023:19_answer" id="q97023:19_answer-1" value="-1" class="sr-only"><a for="q97023:19_answer-1" role="button" tabindex="0" href="">Clear my choice</a></div></div>